*{
    box-sizing: border-box !important;
}

.navbar li a {
    color: aliceblue !important;
}

.navbar-brand {
    color: aliceblue !important;
}
.dropdown-menu li a {
    color: black !important;
}
.jumbotron-fluid{
   background-image: url(../img/backhipster.png) !important; 
}

.jumbotron-fluid{
    width: 100%;
}

.row {
    width: 100%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    min-height: 100vh !important;
    
}

#p-banner {
    color: aliceblue !important;
}